.product-container {
    margin: -2rem auto 10rem;
    max-width: 1280px;
}

.product-card {
    width: 285px;
    position: relative;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.4);
    }

.badge {
    position: absolute;
    left: 37.5%;
    top: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    background: var(--tertiary-color);
    color: #fff;
    padding: 10px 20px;
    }

.product-tumb {
background: #fff;
margin-bottom: -5px;
}

.product-tumb img {
cursor: pointer;
object-fit: cover;
width: 100%;
height: 285px;
margin-bottom: -5px;
}

.product-details {
padding: 30px;
}

.product-catagory {
display: block;
font-size: 12px;
text-transform: uppercase;
margin-bottom: 18px;
}

.product-details h3 a {
    font-weight: bold;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
}

.product-details h3 a:hover {
color: var(--tertiary-color);
}

.product-bottom-details {
overflow: hidden;
padding-top: 20px;
}

.product-bottom-details div {
float: left;
width: 50%;
}

.product-price {
    font-size: 24px;
    font-weight: bold;
}

.product-price small {
font-size: 80%;
font-weight: 400;
text-decoration: line-through;
display: inline-block;
margin-right: 5px;
}

.product-links {
text-align: right;
}

.product-links a {
display: inline-block;
margin-left: 6px;
color: var(--tertiary-color);
transition: 0.3s;
font-size: 17px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 290px);
    justify-content: center;
    grid-gap: 25px 20px;
    margin: 1.5rem auto 3.5rem;
    }

    .loadbtn-wrap {
        text-align: center;
    }
    
    .morebtn {
        border: 2px solid var(--accent-color);
        background: var(--accent-color);
        color: var(--primary-color);
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 0.2rem;
        padding: 1rem 3rem;
        text-transform: uppercase;
        transition: 0.25s;
    }
    
    .morebtn:hover {
        background: rgba(255, 255, 255, 0.5);
        color: var(--accent-color);
    }

    .headercont {
        left: 42.5%;
        padding-right: 4rem;
        position: absolute;
        top: 42.5%;
    }

    .headercont h1 {
        font-size: 3.4rem;
    }