@media screen and (max-width: 1280px) {
  .card-container {
    margin: 2rem auto 3em !important;
    }
    .header-content {
      font-size: 48px !important;
    }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .userbar {
    background: #ff9b2e;
}
  .nav-toggler{
    display: block;
  }
  .navbar {
    justify-content: space-between;
    min-height: 60px;
  }
  .navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    background-color: #ff9b2e;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
    z-index: 999;
  }
  .navbar ul li {
    width: 100%;
    text-align: center;
  }
  .navbar ul li a {
    font-size: 20px;
    padding: 25px;
  }
  .navbar ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--assent-color);
    text-decoration: none;
  }
  .navbar ul.open {
    max-height: 80vh;
    overflow: visible;
    padding-top: 56px;
  }
  .login-btn {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 2rem;
}
  .headercont h1 {
    font-size: 2.5rem !important;
}
.product-container {
  margin: -2rem auto 5rem !important;
}
.card-container {
  grid-gap: 40px 40px !important;
  margin: 2.5rem auto 2.5rem !important;
  }
}

@media (max-width: 990px) {
  .ad {
    display: none;
  }
  .container {
      grid-template-areas:
        "content-1"
        "sidebar"
        "content-3"
        "content-2";
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
     .container img {
      height: 300px; 
}
    .ctabtn {
      bottom: 37%;
      left: 20%;
  }
  .tag {
      left: 35%;
  }
  .cont {
      grid-template-areas:
        "main"
        "cont-1"
        "cont-2"
        "cont-3"
        "cont-4";
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
    .cont img {
      height: 300px;
}
.category-link {
  bottom: 10px;
}
    header, .headerdecor {
      min-height: 41vh;
  }
      .header-content {
        font-size: 36px !important;
        left: 5%;
        top: 5%;
}
  .headercont {
    left: 45% !important;
    top: 30% !important;
}
.heading {
  padding: 4rem 3rem 5rem;
  text-align: left;
}
.heading h2 {
  font-size: 3.5rem;
}
.heading p {
  font-size: 16px !important;
  letter-spacing: 0.02rem;
}
.card-container {
  grid-template-columns: repeat(auto-fill, 321px) !important;
  }
.product-card {
  width: 321px !important;
  }
  footer {
    flex-direction: column;
    gap: 2.5rem 0;
}
}