@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --primary-color: #f2f2f2;
    --typography: 'Work Sans', sans-serif; 
    --dropdown-color: #f2e3b3;
    --tertiary-color: #f2c166;
    --secondary-color: #d9984a; 
    --cta-color: #304d63; 
    --accent-color: #111e26;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html, body {
    background: var(--primary-color);
    color: var(--accent-color);
    font-family: var(--typography);
}
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    align-items: center;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
}

span {
    color: var(--secondary-color);
}

header {
    background: var(--secondary-color);
    color: var(--primary-color);
    min-height: 50vh;
    padding: 1rem 1rem 1rem 1rem;
}

main {
    flex: 1 1 100%;
    padding: 1rem 1rem 1rem;
}

footer {
    background: var(--tertiary-color);
    padding: 1rem 1rem;
}