@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --primary-color: #f2f2f2;
    --typography: 'Work Sans', sans-serif; 
    --dropdown-color: #f2e3b3;
    --tertiary-color: #f2c166;
    --secondary-color: #d9984a; 
    --cta-color: #304d63; 
    --accent-color: #111e26;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html, body {
    background: var(--primary-color);
    color: var(--accent-color);
    font-family: var(--typography);
}
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigation bar */
.brand, nav, ul {
    display: flex;
    flex-direction: row;
}

nav {
    align-items: center;
    background: white;
    justify-content: space-between;
    padding: 1rem 1.2rem;
}

.logo {
    margin-right: 12px;
    width: 28px;
}

h1 {
    font-size: 2.8rem;
}

span {
    color: var(--secondary-color);
}

li {
    list-style: none;
    padding: 0 0rem 0 1rem;
}

li a {
    color: var(--accent-color);
    text-decoration: none;
}

/* Header content */
header {
    background: var(--secondary-color);
    color: var(--primary-color);
    min-height: 50vh;
    padding: 1rem 1rem 1rem 1rem;
}

/* Homepage's main content */
main {
    flex: 1 1 100%;
    padding: 1rem 1rem 1rem;
}

/* Footer section */
footer {
    background: var(--tertiary-color);
    padding: 1rem;
}